@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #fff;
}

html,
body {
  background-color: #141414;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  background-color: #1f1f1f;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-name {
  font-size: 25px;
  text-align: center;
}

.profile-local {
  color: #c5f82a;
  font-weight: 700;
  text-align: center;
}

.social-links {
    margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  p{
    text-align: center;
  }
  a {
    width: 250px;
    background-color: #333;
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 7px;
  }
}

a:hover{
    background-color: #c5f82a;
    color: #141414;
}